In [1]:
import pandas as pd
import string
import re
import seaborn as sns

In [2]:
fake = pd.read_csv(r"C:\Users\USER\Downloads\Telegram Desktop\News-_dataset\Fake.csv")
true = pd.read_csv(r"C:\Users\USER\Downloads\Telegram Desktop\News-_dataset\True.csv")

In [3]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
# adding a new column called label to the datasets

fake['label'] = 0
true['label'] = 1

In [6]:
# concatenating the datasets
liar = pd.concat([fake,true])

In [7]:
liar

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [8]:
liar.columns

Index(['title', 'text', 'subject', 'date', 'label'], dtype='object')

In [9]:
# assigning columns to drop
col_to_drop = ['title', 'subject', 'date',]

In [10]:
# dropping columns
liar = liar.drop(col_to_drop, axis = 1)

In [11]:
liar

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      0
1      House Intelligence Committee Chairman Devin Nu...      0
2      On Friday, it was revealed that former Milwauk...      0
3      On Christmas day, Donald Trump announced that ...      0
4      Pope Francis used his annual Christmas Day mes...      0
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      1
21413  LONDON (Reuters) - LexisNexis, a provider of l...      1
21414  MINSK (Reuters) - In the shadow of disused Sov...      1
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      1
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1

[44898 rows x 2 columns]

In [12]:
# checking for null values in the dataset
liar.isnull().sum()

text     0
label    0
dtype: int64

In [13]:
# shuffling all the rows in the DataFrame in a random order.
liar = liar.sample(frac=1)

In [14]:
liar.head()

                                                    text  label
3328   Donald Trump has made many promises to the wor...      0
20185  We live near the city of Detroit, and anyone c...      0
12330                                                         0
13845  KATHMANDU (Reuters) - Millions of Nepalis vote...      1
21901  Our culture is what makes this Nation great an...      0

In [15]:
liar.reset_index(inplace = True)

In [16]:
liar.drop(['index'], axis = 1, inplace = True)

In [17]:
liar.columns

Index(['text', 'label'], dtype='object')

In [18]:


def words_prep(text):
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\W", " ", text)
    text = re.sub('https?://\S+|www\.S+', '', text)
    text = re.sub('<.*?>+', '',text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '',text)
    text = re.sub('\n', '', text)
    text = re.sub('\W*\d\W', '',text)
         
    
    return text

In [19]:
liar['text'] = liar['text'].apply(words_prep)

In [20]:
X = liar['text']
y = liar['label']

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25)

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [24]:
# Create an instance of the TF-IDF vectorizer
vectorizer = TfidfVectorizer()

# Fit the vectorizer on the training data and transform it
X_train_tfidf = vectorizer.fit_transform(X_train)

# Transform the test data using the trained vectorizer
X_test_tfidf = vectorizer.transform(X_test)

In [25]:

from sklearn.naive_bayes import MultinomialNB
# Train the Naive Bayes classifier
classifier = MultinomialNB()
classifier.fit(X_train_tfidf, y_train)

# Predict the labels for the test data
y_pred = classifier.predict(X_test_tfidf)

In [26]:
from sklearn.metrics import accuracy_score

In [27]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9362138084632516

In [28]:
from sklearn.metrics import classification_report

In [29]:
# Evaluate the classifier's performance
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.93      0.95      0.94      5834
           1       0.95      0.92      0.93      5391

    accuracy                           0.94     11225
   macro avg       0.94      0.94      0.94     11225
weighted avg       0.94      0.94      0.94     11225

In [30]:
def output_label(n):
    if n ==0:
        return "Fake News"
    elif n == 1:
        return "Real News"


def model_testing(news):
    test_news = {"text":[news]}
    new_test = pd.DataFrame(test_news)
    new_test["text"] = new_test["text"].apply(words_prep)
    final_test = new_test["text"]
    finale_test = vectorizer.transform(final_test)
    y_pred = classifier.predict(finale_test)
    
    
    return print("\n\nNaives Bayes Prediction: {}".format(output_label(y_pred[0])))

In [ ]:
news = str(input())
model_testing(news)